################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProgrammingAssignment
/FundaTest/bin/Debug/netcoreapp3.1
/FundaTest/obj
