<h1>Programming Assignment!</h1>
<p>Welcome to this single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>Features showcased</p>
<ul>
  <li><strong>Client-side navigation</strong>. For example, click <em>Makelaars</em> then <em>Back</em> to return here.</li>
  <li><strong>Angular CLI integration</strong>. Auto page refresh</li>
  <li><strong>Use of httpclient to consume the api</strong></li>

  <li><strong>C# unit testing</strong></li>
</ul>
<p>Possible Functionalities</p>
<ul>
  <li>Get all the makelaars in a particular city in the Netherlands</li>
  <li>Get the list of top 10 makelaars (those with the most properties for sale) in the chosen city</li>
  <li>Get the list of top 10 makelaars (those with the most properties <strong> with a tuin </strong> for sale) in the chosen city</li>
</ul>

